/* Стилизация аккордеона */
.accordion {
  @include layout(flex, column);
  flex-wrap: wrap;
  max-width: 579px;

  &__details {
    box-sizing: border-box;
    @include layout(flex, column);
    margin-bottom: 8px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    padding: 24px 32px;
    position: relative;
    background-color: var(--white);

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__item-header,
  &__hidden-content {
    @include text('Inter', 400, 16px, 24px, var(--grey-4));
    background-color:var(--white);
  }

  &__item-header {
    display: block;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__hidden-content {
    margin: 0;
  }

  &__details[open] &__item-header {
    margin-bottom: 16px;
  }

  &__icon-arrow {
    position: absolute;
    right: 32px;
    top: 32px;
    color: var(--grey-4);
  }

  &__details[open] &__icon-arrow {
    transform: rotate(180deg) translateY(50%);
  }
}
