/* Стилизация кнопки */
.button {
  @include text('Roboto', 500, 16px, 19px, var(--white));
  background-color: var(--black);
  box-sizing: border-box;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: all 200ms ease-in-out;

  &:active {
    transform: translateY(5%);
  }

  &_full_width {
    width: 100%;
  }

  &_primary {
    background-color: var(--blue);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--dark-blue);
    }

    &_primary:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &_secondary {
    background-color: var(--purple);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--dark-purple);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &_alternate {
    background-color: var(--white);
    color: var(--grey-4);
    border: 1px solid var(--grey-3);

    &:hover,
    &:focus,
    &:active {
      border: 1px solid var(--black);

      &:disabled {
        opacity: 0.3;
        pointer-events: none;
      }
    }
  }

  &_preview {
    @include text('Roboto', 500, 14px, 16px, var(--white));
    padding-top: 7px;
    padding-bottom: 6px;
  }
}
