.card {
  max-width: 100%;
  height: 367px;
  background-color: var(--white);
  color: var(--black);
  box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
  border-radius: 12px;
  padding: 32px 25px;
  text-decoration: none;

  @media screen and ($media-s) {
    width: auto;
    height: auto;
  }

  &__title {
    @include text-2('Roboto', 500, 21px, 25px);
    text-align: center;
    margin: 0;
    margin-bottom: 6px;

    @media screen and ($media-s) {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 4px;
    }

    @media screen and ($media-xs) {
      @include text-2('Inter', 400, 16px, 24px);
      margin-bottom: 0;
    }
  }

  &__text {
    @include text-2('Roboto', 400, 16px, 19px);
    text-align: center;
    margin: 0;

    @media screen and ($media-xs) {
      @include text-2('Inter', 400, 14px, 22px);
      color: var(--grey-3);
    }
  }

  &__body {
    height: 226px;
    width: 100%;
    display: grid;
    place-items: center;

    &_grid {
      display: grid;
      grid-template-columns: repeat(3, auto);
      column-gap: 32px;
      margin-bottom: 40px;

      @media screen and ($media-s) {
        grid-template-columns: repeat(1, auto);
        column-gap: 0;
        row-gap: 20px;
      }
    }

    &_grid_checkbox {
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(3, auto);
      row-gap: 16px;

      @media screen and ($media-s) {
        row-gap: 10px;
      }
    }

    &_grid_radio {
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(3, auto);
      row-gap: 16px;

      @media screen and ($media-s) {
        row-gap: 10px;
      }
    }

    &_grid_toggle {
      display: grid;
      grid-template-columns: repeat(1, auto);
      grid-template-rows: repeat(3, auto);
      row-gap: 16px;

      @media screen and ($media-s) {
        row-gap: 10px;
      }
    }

    &_grid_input {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      column-gap: 30px;
      row-gap: 16px;

      @media screen and ($media-s) {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }

  &__footer {
    margin-top: 25px;
  }
}
