.checkbox {
  position: relative;

  &__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  &__state {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__control {
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    position: relative;
  }

  &__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    transform: translate(-50%, -50%);
    display: none;
  }

  &__state {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__control {
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  &__title {
    @include text('Inter', 400, 16px, 24px, --grey-4);
    margin-left: 12px;
  }

  &__input:checked ~ &__state &__control {
    background: var(--blue);
    border-color: var(--blue);
    animation: pulse 0.5s;
  }

  &__input:checked ~ &__state &__icon {
    display: block;
  }

  &__input:disabled ~ &__state &__control {
    background: var(--grey-2);
  }

  &__input:disabled ~ &__state &__title {
    color: var(--grey-2);
  }

  &__input:focus ~ &__state &__title {
    text-decoration: underline;
  }

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 #bdc3c7;
    }
    100% {
      box-shadow: 0 0 0 1.5rem rgba(189, 195, 199, 0);
    }
  }
}
