.footer {
  background-color: var(--white);
  @include pad(71px, 136px);

  @media screen and ($media-s) {
    @include pad(60px, 60px);
  }

  @media screen and ($media-xs) {
    @include pad(50px, 50px);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    @include text('Inter', 500, 38px, 48px, var(--black));
    margin: 0;
    margin-bottom: 32px;
    align-items: center;
  }

  &__discription {
    @include text('Inter', 400, 16px, 24px, var(--black));
    margin: 0;
    max-width: 640px;
    text-indent: 5px;
    text-align: center;

    @media screen and ($media-s) {
      max-width: 600px;
    }

    @media screen and ($media-xs) {
      max-width: 288px;
    }
  }

  &_inner {
    background-color: var(--grey-1);
    @include pad(26px, 56px);

    @media screen and ($media-s) {
      @include pad(16px, 46px);
    }
  }

  &_inner &__title {
    @include text-2('Inter', 500, 12px, 18px);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
    margin: 0;
  }
}
