.input-group {
  display: flex;
  flex-direction: column;

  &__label {
    margin-bottom: 5px;
    @include text('Inter', 500, 12px, 18px, var(--grey-3));
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  &__input {
    padding: 0;
    @include text('Inter', 400, 20px, 26px, var(--grey-4));
    background: var(--white);
    height: 56px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    padding-left: 24px;
    max-width: 350px;
    transition: all 200ms ease-in-out;

    &::-moz-placeholder {
      color: var(--grey-2);
    }

    &::-webkit-input-placeholder {
      color: var(--grey-2);
    }

    &:focus {
      border: 1px solid var(--blue);
      box-shadow: var(--shadow-2);
    }
  }

  &_is-success {
    background-image: url(../../assets/images/images/success.svg);
    @include condition;
  }

  &_is-error {
    background-image: url(../../assets/images/images/error.svg);
    @include condition;
    border: 1px solid var(--red);
    box-shadow: var(--shadow-3);
  }
}
