.preview {
  &__inner {
    background-color: var(--grey-1);
    padding-top: 68px;
    padding-bottom: 64px;
  }

  &__inner-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-bottom: 32px;

    @media screen and ($media-m) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and ($media-s) {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(230px, auto));
      gap: 30px;
    }
  }

  &__container_skeleton {
    margin-bottom: 32px;
  }

  &__title {
    margin: 0;
    margin-bottom: 28px;
    text-transform: uppercase;
    @include text('Inter', 400, 28px, 30px, --grey-2);
  }
}
