.radio {
  position: relative;

  &__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  &__state {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__control {
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 14px;
    position: relative;
  }

  &__circle {
    width: 18px;
    height: 18px;
    border-radius: 14px;
    background: var(--blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  &__title {
    @include text('Inter', 400, 16px, 24px, --grey-4);
    margin-left: 12px;
  }

  &__input:checked ~ &__state &__control {
    border: 2px solid var(--blue);
  }

  &__input:checked ~ &__state &__circle {
    display: block;
  }

  &__input:disabled ~ &__state &__control {
    background: var(--grey-2);
  }

  &__input:disabled ~ &__state &__title {
    color: var(--grey-2);
  }

  &__input:focus ~ &__state &__title {
    text-decoration: underline;
  }
}
