.skeleton{
    padding: 32px 40px 32px 24px;
    display: flex;
    flex-direction: column;
    max-width: 579px;
    border: 1px solid $grey-3;
    border-radius: 8px;
    gap:24px;

    &__top{
        display: flex;
    }
    
    &__top-rows{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    &__circle{
        min-width: 64px;
        height: 64px;
        border-radius: 50%;
        background-color: $grey-2;
        margin-right: 16px;
    }
    
    &__bottom{
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    &__row{
        background: $gradient;
        height: 20px;
    }
    
    &__row_small{
        width: 40%;
    }
    
    &__row_medium{
        width: 60%;
    }
    
    &__row_full_width{
        width: 100%;
    }
    
    &__row_large{
        width: 93%;
    }
    
}

