.tabs {
  &__wrapper {
    position: relative;
  }

  &__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  &__list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style-type: none;
    height: 34px;

    &_inner {
      padding: 0 48px;
    }
  }

  &__item:not(:last-child) {
    margin-right: 40px;

    @media screen and ($media-xs) {
      margin-right: 20px;
    }
  }

  &__label {
    @include text('Inter', 400, 16px, 24px, --grey-3);
    cursor: pointer;
    padding-bottom: 8px;
    position: relative;

    &::after {
      position: absolute;
      content: '';
      height: 5px;
      width: 100%;
      background-color: var(--black);
      top: 100%;
      display: block;
      transform: scaleX(0);
      transition: transform 250ms ease-in-out;
    }

    &:hover {
      color: var(--black);
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__content_all,
  &__content_complex,
  &__content_simple {
    display: none;
  }

  &__input[id='all-tab']:checked ~ &__scroller &__label[for='all-tab'],
  &__input[id='complex-tab']:checked ~ &__scroller &__label[for='complex-tab'],
  &__input[id='simple-tab']:checked ~ &__scroller &__label[for='simple-tab'] {
    color: var(--black);
  }

  &__input[id='all-tab']:checked ~ &__scroller &__label[for='all-tab']::after,
  &__input[id='complex-tab']:checked
    ~ &__scroller
    &__label[for='complex-tab']::after,
  &__input[id='simple-tab']:checked
    ~ &__scroller
    &__label[for='simple-tab']::after {
    transform: scaleX(1);
  }

  &__input[id='all-tab']:checked ~ &__content_all {
    display: block;
  }

  &__input[id='complex-tab']:checked ~ &__content_complex {
    display: block;
  }

  &__input[id='simple-tab']:checked ~ &__content_simple {
    display: block;
  }

  &__scroller {
    background-color: var(--white);
    position: relative;

    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      top: 100%;
      background: var(--grey-2);
    }

    @media screen and ($media-s) {
      padding-top: 24px;
    }
  }

  &__scroller_inner::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: var(--grey-2);
    left: 0px;
  }

  &-inner__content {
    max-width: 800px;
  }

  &-inner__css,
  &-inner__html {
    display: none;
  }

  &-inner__language-html,
  &-inner__language-css {
    max-width: 100vw;
  }

  &__input[id='html']:checked ~ &-inner__html {
    display: block;
  }

  &__input[id='css']:checked ~ &-inner__css {
    display: block;
  }

  &__input[id='html']:checked ~ &__scroller &__label[for='html']::after,
  &__input[id='css']:checked ~ &__scroller &__label[for='css']::after {
    transform: scaleX(1);
  }

  &__input[id='html']:checked ~ &__scroller &__label[for='html'],
  &__input[id='css']:checked ~ &__scroller &__label[for='css'] {
    color: var(--black);
  }
}
