.toggle {
  position: relative;

  &__input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
  }

  &__state {
    display: flex;
    align-items: center;
    cursor: pointer;

    &_burger-menu {
      justify-content: space-between;
      padding-top: 24px;
      border-top: 1px solid var(--grey-2);
      margin-bottom: 24px;
    }
  }

  &__control {
    width: 52px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    padding-left: 2px;
    padding-right: 2px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease;
  }

  &__circle {
    width: 24px;
    height: 24px;
    border-radius: 16px;
    background: var(--grey-2);
    transition: all 0.5s ease;
  }

  &__title {
    @include text('Inter', 400, 16px, 24px, --grey-4);
    margin-left: 12px;

    &_burger-menu {
      margin: 0;
      margin-right: auto;
    }
  }

  &_included {
    display: none;
  }

  &__input:checked ~ &__state &__control {
    background: var(--blue);
    border-color: var(--blue);
    justify-content: flex-end;
  }

  &__input:checked ~ &__state &__circle {
    background: var(--white);
  }

  &__input:checked ~ &__state &__title {
    display: none;
  }

  &__input:checked ~ &__state &_included {
    display: block;
  }

  &__input:disabled ~ &__state &__control {
    background: var(--grey-2);
  }

  &__input:disabled ~ &__state &__title {
    color: var(--grey-2);
  }

  &__input:disabled ~ &__state &__circle {
    background: var(--grey-6);
  }

  &__input:focus ~ &__state &__title {
    text-decoration: underline;
  }

  &__input:focus ~ &__state &_included {
    text-decoration: underline;
  }
}
