.tooltip {
  display: inline-block;
  position: relative;

  &__icon-wrapper {
    cursor: pointer;
    position: relative;
  }

  &__icon-question{
    color: var(--black);
  }

  &__bubble {
    position: absolute;
    bottom: calc(100% + 11px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--blue);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 13px 21px 8px;
    @include text('Inter', 400, 16px, 24px, var(--grey-2));
    text-align: center;
    white-space: nowrap;
    display: none;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top: 7px solid var(--blue);
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__icon-wrapper:hover + &__bubble {
    display: block;
  }

  &_preview {
    transform: translateY(100%);
  }

  &__bubble_preview {
    position: absolute;
    bottom: calc(100% + 11px);
    left: 50%;
    transform: translateX(-50%);
    background: var(--blue);
    box-shadow: var(--shadow);
    border-radius: 10px;
    padding: 13px 21px 8px;
    @include text('Inter', 400, 16px, 24px, var(--grey-2));
    text-align: center;
    white-space: nowrap;

    &::after {
      content: '';
      width: 0;
      height: 0;
      border: 8px solid transparent;
      border-top: 7px solid var(--blue);
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &_inner {
    margin: 30px 0px 0px 35px;
  }
}
