
.component-page{
    width: 100%;
    background-color: var(--primary);
    padding-top: 30px;
}

.component-page__wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 56px;
}

.component-page__menu{
    width: 229px;
}

.component-page__title{
    margin: 0;
    margin-bottom: 16px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--max-black);
}

.component-page__list{
    margin: 0;
    list-style-type: none;
    padding: 0;
}

.component-page__list:not(:last-child){
    margin-bottom: 32px;
}

.component-page__item:not(:last-child){
    padding-bottom: 4px;
}

.component-page__link{
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--black);
}

.component-page__content{
    background-color: var(--white);
    box-shadow: 0px 2px 4px var(--shadow);
    border-radius: 12px;
    padding: 32px 0 64px 42px;
}

.component-page__content-title{
    font-family: 'Inter';
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
}
