.card{
    width: 350px;
    height: 367px;
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    padding: 32px 25px;
}

.card__title{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    margin: 0;
    margin-bottom: 6px;
}

.card__text{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    margin: 0;
}

@media screen and (max-width:767px){
    .card {
        width: 319px;
        height: 312px;
    }

    .card__title{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 4px;
    }
}

@media screen and (max-width:375px) {
    .card {
        width: 164px;
        height: 231px;
    }

    .card__title{
        font-family: 'Inter';
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 0;
    }
    
    .card__text{
        font-family: 'Inter';
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--grey-3);}
}
