@import '../fonts/fonts.css';
@import '../../dist/styles.css';
/* @import '../../components/icon/icon.css'; */

:root {
  --white: #ffffff;
  --black: #212429;
  --max-black: #000000;
  --pink: #f784ad;
  --purple: #7048e8;
  --dark-purple: #5028c6;
  --blue: #4263eb;
  --dark-blue: #2342c0;
  --red: #f03d3e;
  --red-2: #d84910;
  --grey-1: #f9fafc;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;
  --gradient: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
  --histogram: #4263eb;
  --grey-5: rgba(196, 196, 196, 0.5);
  --shadow: rgba(33, 36, 41, 0.05);
  --grey-6: rgba(172, 181, 189, 0.25);
  --shadow-2: 0px 1px 1px rgba(51, 154, 240, 0.1);
  --shadow-3: 0px 1px 1px rgba(240, 61, 62, 0.1);
  --grey-7: rgba(249, 250, 252, 1);

  --calendar: #334d6e;
  --calendar-2: #90a0b7;
  --calendar-3: rgba(160, 177, 245, 0.2);
}

html[data-theme-dark] {
  --white: #212429;
  --black: #ffffff75;
  --max-black: #000000;
  --pink: #f784ad;
  --purple: #7048e8;
  --dark-purple: #5028c6;
  --blue: #4263eb;
  --dark-blue: #2342c0;
  --red: #f03d3e;
  --red-2: #d84910;
  --grey-1: #495057;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #f9fafc;
  --gradient: linear-gradient(
    92.51deg,
    #dde2e5 6.44%,
    #e2e6e8 38.47%,
    #f3f5f5 56.48%,
    #e3e7ea 77.5%,
    #dde2e5 102.52%
  );
  --histogram: #4263eb;
  --grey-5: rgba(196, 196, 196, 0.5);
  --shadow: rgba(33, 36, 41, 0.05);
  --grey-6: rgba(172, 181, 189, 0.25);
  --shadow-2: 0px 1px 1px rgba(51, 154, 240, 0.1);
  --shadow-3: 0px 1px 1px rgba(240, 61, 62, 0.1);
  --grey-7: #212429;

  --calendar: #334d6e;
  --calendar-2: #90a0b7;
  --calendar-3: rgba(160, 177, 245, 0.2);
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

.preload * {
  transition: none !important;
}
