@import '../fonts/fonts.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/page/page.css';
@import '../../components/container/container.css';
@import '../../components/cards/card.css';
@import '../../components/component-page/component-page.css';
@import '../../04-lection2/01-histogram/histogram.css';
@import '../../03-lection1/01-button/button.css';


:root {
    --white: #ffffff;
    --black: #212429;
    --max-black: #000000;
    --pink: #F784AD;
    --purple: #7048E8;
    --dark-purple: #5028C6;
    --blue: #4263EB;
    --dark-blue: #2342C0;
    --red: #F03D3E;
    --grey-1: #F9FAFC;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --gradient: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
    --histogram: #4263EB;
    --grey-5: rgba(196, 196, 196, 0.5);
    --shadow: rgba(33, 36, 41, 0.05);
    
    --calendar: #334D6E;
    --calendar-2: #90A0B7;
    --calendar-3:rgba(160, 177, 245, 0.2);


    --error: var(--red);
    --success: var(--blue);

    --primary: var(--grey-1);
    --secondary: var(--white);
}

html,
body{
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

*,
::before,
::after {
    box-sizing: border-box;
}
