.preview {
}

.preview__inner {
  background-color: var(--primary);
  @include pad(68px, 64px);
}

.preview__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.preview__inner-card {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

@media screen and (max-width: 767px) {
  .preview {
    @include pad(40px, 40px);
  }

  .preview__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 22px;
    justify-items: center;
  }
}

@media screen and (max-width: 375px) {
  .preview {
    @include pad(24px, 24px);
  }

  .preview__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
}
