.input-group{
    display: flex;
    flex-direction: column;
}

.input-group__label{
    margin-bottom: 5px;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
    }

    .input-group__input{
    padding: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
    height: 56px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    padding-left: 24px;
    }

    .input-group__input::-moz-placeholder{
    color: var(--grey-2);
    }

    .input-group__input::-webkit-input-placeholder{
    color: var(--grey-2);
    } 

    .input-group__input:focus{
    border: 1px solid var(--success);
    box-shadow: var(--shadow-2);
    }

    .input-group_is-success{
    background-image: url(../../assets/images/images/success.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center right 16px;
    }

    .input-group_is-error{
    background-image:url(../../assets/images/images/error.svg);
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center right 16px;
    border: 1px solid var(--error);
    box-shadow: var(--shadow-3);
    }



